# Ignore Gradle project-specific cache directory
.gradle/
.idea/
!.idea/icon.png
local.properties
*.log
logs/
out/
libs/

# Ignore Gradle build output directory
build
.terraform/
*.tfvars
nohup.out
graalvm-ce-*.tar.gz
app/client/externals
